Chapter -4 Removing Duplicates Value

In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('census.csv')

In [2]:
df.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [3]:
# Finding Duplicate Rows

df.duplicated().sum()

5982

In [4]:
# Here we can see that there are 5982 duplicate rows in the dataset. 
# We can remove these rows to avoid redundancy in the data.

df.drop_duplicates(inplace=True)

In [5]:
df.duplicated().sum()

0

In [6]:
# Now we have removed all the duplicate rows from the dataset.

In [7]:
# We remove the duplicate rows from data because
#  they can lead to incorrect results and can also affect the performance of the model.